* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
}

html {
    color: #2E2E2E;
    font-family: 'Muli', sans-serif;

    background-color: #F4F4F4;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container,
.scroller {
    width: 800px;
}

.row {
    display: flex;
    height: 250px;

    border-bottom: 1px solid #2E2E2E;
    content-visibility: auto;
    contain-intrinsic-size: 1px 250px;
}

.row img {
    width: 250px;
    height: 100%;
    margin-right: 20px;
    object-fit: contain;
}
